@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&display=swap');

$bgColor: #ccedff;
$redColor: #ff3601;
$redShadow: #c12417;
$blueOnDevice: #4dd1e2;
$blueShadowOnDevice: #42a4ce;
$darkerBlueShadow: rgb(0, 4, 100, 0.6);
$blueBordersAndFonts: #000464;
$yellowBtn: #ffc109;
$yellowShadows: #c4900e;
$gridcolor: rgb(156, 156, 156, 0.2);

@mixin flexCenter($direction) {
    display: flex;
    flex-direction: $direction;
    align-items: center;
    justify-content: center;
}

@keyframes scalebtn {
    0% {       
        transform: scale(1);
    }

    5% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Kanit', sans-serif;
    box-sizing: border-box;
    background-color: $bgColor;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 15vh 75vh 10vh;
    grid-template-areas: "header header header"
                         "asideleft main asideright"
                         "footer footer footer";
}

.header {   
    font-family: 'Press Start 2P', cursive;
    color: white;
    font-size: 1.5vh;
    grid-area: header;
    @include flexCenter (row);
}

.div-titlecontainer{
    background-color: $redColor;
    padding: 4px 40px;
    border: 3px solid $blueBordersAndFonts;
    border-radius: 10px;
    box-shadow: inset -15px -10px $redShadow;
}
  

.aside-left {
    grid-area: asideleft;
    @include flexCenter (column);
    gap: 25px;
}

#colorwheel{
    -webkit-appearance: none;
    padding: 0;
    border: 3px solid $blueBordersAndFonts;
    border-radius: 50%;
    width: 13vh;
    height: 13vh;
    box-shadow: -5px 5px $darkerBlueShadow;
  }

  #colorwheel::-webkit-color-swatch {
    border: none;
    border-radius: 50%;
    padding: 0;
  }

  #colorwheel::-webkit-color-swatch-wrapper {
    border: none;
    border-radius: 50%;
    padding: 0;
  }

  .btns {
    height: 7vh;
    width: 75%;
    max-width: 300px;
    font-family: 'Kanit', sans-serif;
    font-size: 2.5vh;
    color: $blueBordersAndFonts;
    font-weight: 500;
    background-color: $yellowBtn;
    border: 3px solid $blueBordersAndFonts;
    border-radius: 10px;
    box-shadow: inset -10px -6px $yellowShadows, -5px 5px $darkerBlueShadow;
    cursor: pointer;
}


.btns:hover {

    color: white;
    background-color: $redColor;
    box-shadow: inset -10px -6px $redShadow, -5px 5px $darkerBlueShadow;
}



.btns:active {
    animation: scalebtn ease 0.9s;
}

.div-range{
    @include flexCenter (column);
    width: 100%;
}

.p-sliderValue {
    font-size: 2.5vh;
    color: $blueBordersAndFonts;
    font-weight: 500;
}

#rangebar {
    -webkit-appearance: none;
    height: 1vh;
    width: 75%;
    max-width: 300px;
    border-radius: 8px;
    background-color: $yellowBtn;
    box-shadow: inset -2px -2px $yellowShadows;
    border: 3px solid $blueBordersAndFonts;

}

#rangebar::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 3.5vh;
    width: 3.5vh;
    border-radius: 50%;
    background-color: $blueBordersAndFonts;
    cursor: pointer;
}

#rangebar:active {
    background-color: $redColor;
    box-shadow: inset -2px -2px $redShadow;
}
  
.main-center {
    grid-area: main;
    @include flexCenter (row);
}

.div-canvacontainer {
    height: 72vh;
    width: 72vh;
    background-color: $blueOnDevice;
    border: 5px solid $blueBordersAndFonts;
    border-radius: 20px;
    box-shadow: inset -15px -30px $blueShadowOnDevice, -15px 15px $darkerBlueShadow;
    @include flexCenter (row);
}

.div-canva {
    height: 57vh;
    width: 57vh;
    background-color: white;
    border: 3px solid $blueBordersAndFonts;
    margin-bottom: 5vh;
    padding: 0;
    box-shadow: 3px 3px $bgColor;
}

.column {
    flex: 1;
}

.canva-pixel {
    margin: 0;
    border: 1px solid $gridcolor;
    aspect-ratio: 1/1;
}

// .canva-pixel:hover {
//     background-color: yellow;
// }

  .grid {
    display: flex;
    width: 100%;
    height: 100%;
  }


.aside-right {
    grid-area: asideright;

}

.footer {
    font-size: 2.7vh;
    color: $blueBordersAndFonts;
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-github {
    color: $blueBordersAndFonts;
    transition: transform 0.3s ease-in-out;
    font-size: 4vh;
  }
  
  .fa-github:hover {
    transform: rotate(360deg) scale(1.2);
  }

